{erl_opts, [debug_info]}.
{src_dirs, ["src", "src/controllers"]}.

{shell, [{config, "./config/sys.config"}]}.

{erlydtl_opts, [{doc_root, "src/views"}, {recursive, true}]}.

{deps, [
        {nova, {git, "https://github.com/novaframework/nova.git", {branch, "master"}}},
        {uuid, {git, "https://github.com/okeuday/uuid.git", {branch, "master"}}},
        {chatterbox, {git, "https://github.com/joedevivo/chatterbox.git", {branch, "master"}}}
       ]}.


%% Release profiles
%% To create a release just run
%% rebar3 release -n simple_push-prod
{relx, [
        {release, {"simple_push", "0.1.0"},
         [simple_push],
         [{dev_mode, false},
          {include_erts, true},
          {extended_start_script, true}]}
       ]}.


%% Plugins for rebar3
{plugins, [
           {rebar3_erlydtl_plugin, ".*",
            {git, "https://github.com/tsloughter/rebar3_erlydtl_plugin.git", {branch, "master"}}}
          ]}.

{provider_hooks, [
                  {pre, [{compile, {erlydtl, compile}}]}
                 ]}.
