[
 {simple_push, [{web_port, 8080},
             {rest_only, true},
             {nova_applications, [
                                  #{
                                    name => simple_push,
                                    routes_file => "priv/simple_push.routes.erl"
                                   }
                                 ]}]}
].
